extend minimal-layout

block page-scripts
	script
		$(document).ready(function(){
			/*var socket = io.connect('/');
			$('#signin').click(function(e){
				//HASH THAT SOLDIER BOY
				socket.emit('login',{"username":$('#username').val(),"password":$('#password').val()});
				e.preventDefault();
			});*/
			/*socket.on('logincheck', function(data){
				alert(data.success+data.username);
				if(data.success)
					window.location.href = '/groups?heythere='+data.username;
			});*/
		});

block form
	.center-form.rounded
		form(style="text-align: center")
			.control-group
				.controls
					input(type="text",placeholder="Username",name="username")#username
			.control-group
				.controls
					input(type="password",placeholder="Password",name="password")#password
			.control-group
				.controls
					button(type="submit",formaction="\login",formmethod="post").btn#signin Sign in
			
			br
			a(href="/forgetful") Forgot password
			|&nbsp;&nbsp;•&nbsp;&nbsp;
			a(href="/register") Register