extend minimal-layout

block page-scripts
	script
		$(document).ready(function(){
			$('#register-link').click(function(){
				$('#register-message').html("");
				$('#send-registration').show();
				$('#register-body').show();
				$('#register-body input').val("");
				$('#register').modal();
			});
			$('#forgetful-link').click(function(){$('#forgetful').modal()});
			var socket = io.connect('/');
			$('#send-registration').click(function(e){
				//HASH THAT SOLDIER BOY
				socket.emit('register',{
					"username":$('#new-username').val(),
					"password":$('#new-password').val(),
					"email":$('#new-email').val()
					});
				$('#register-body').hide();
				$('#register-message').html("Sending registration...");
			});
			socket.on('register-success',function(data){
				console.log(data);
				$('#send-registration').hide();
				$('#register-body').hide();
				$('#register-message').html(
					"Go ahead and sign in, " + data.username + "!"
					);
				});
			socket.on('register-error',function(data){
				$('#register-body').hide();
				$('#register-message').html(
					"Error, Will Robinson, Error!: " + data.error);
				});
		});

block form
	.center-form.rounded
		form(style="text-align: center")
			.control-group
				.controls
					input(type="text",placeholder="Username",name="username")#username
			.control-group
				.controls
					input(type="password",placeholder="Password",name="password")#password
			.control-group
				.controls
					button(type="submit",formaction="\login",formmethod="post").btn#signin Sign in
			
			br
			a(href="#forgetful")#forgetful-link Forgot password
			|&nbsp;&nbsp;•&nbsp;&nbsp;
			a(href="#register",data-toggel="modal")#register-link Register
 

	div(tabindex="-1",role="dialog",aria-labelledby="registerLabel",aria-hidden="true")#register.modal.hide.fade
		.modal-header
			button(type="button",data-dismiss="modal",aria-hidden="true").close x
			| Register
		.modal-body#register-body
			| Username:
			input(type="text")#new-username
			br
			| Email:
			input(type="text")#new-email
			br
			| Password:
			input(type="password")#new-password
			br
			| Re-enter Password:
			input(type="password")#reenter-password
		.modal-body#register-message
		.modal-footer
			button.btn.btn-primary#send-registration Register
			button(data-dismiss="modal",aria-hidden="true").btn Close

	div(tabindex="-1",role="dialog",aria-labelledby="forgetfulLabel",aria-hidden="true")#forgetful.modal.hide.fade
		.modal-header
			button(type="button",data-dismiss="modal",aria-hidden="true").close x
			| Forgot your password?
		.modal-body
			| Enter your email below to have a new password sent to your inbox
			input(type="text",placeholde="Enter email")#email
		.modal-footer
			button(data-dismiss="modal",aria-hidden="true").btn.btn-primary Send!

