html(lang='en')
	head
		title Haardvark - 
			block titlepart

		meta(name="viewport",content="width=device-width, initial-scale=1.0")
		block scripts 
			script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js')
			script(src='/javascripts/go.js')
			script(src='/socket.io/socket.io.js')
			script(src="/javascripts/bootstrap.js")
			script(src="/javascripts/jquery.tablesorter.min.js")
		block page-scripts
		block stylesheets
			link(rel='stylesheet', href='/stylesheets/theme.default.css')
			link(rel='stylesheet', href='/stylesheets/style.css')
			link(rel='stylesheet', href='/stylesheets/fonts.css')
			link(rel='stylesheet', href='/stylesheets/bootstrap.css')
			link(rel='stylesheet', href='/stylesheets/bootstrap-responsive.css')
		block page-styles
	body 
		block header
			.navbar
				.navbar-inner
					img(src="/images/logo.png").logo
					.pull-left.brand.handwriting
						h1 Haardvark
					ul(style="font-size: 2em;").breadcrumb
						li
							span(rel="tooltip",title="Groups",data-placement="bottom")
								img(src="/images/breadcrumbs/home.png").breadcrumbicon-current
							block breadcrumbs

						li.pull-right 
							block username
							a(href="/settings",rel="tooltip",data-placement="bottom",title="Settings",style="margin-left: 10px")
								img(src="/images/wrench.png",style="width: 20px;")
							a(href="/logout",rel="tooltip",data-placement="bottom",title="Logout",style=" margin-left: 10px")
								img(src="/images/logout.png",style="width: 20px;")
							

				
		.container-fluid
			block content
		block footer