html(lang='en')
	head
		title= title 
		meta(name="viewport",content="width=device-width, initial-scale=1.0")
		block scripts 
			script(src='/socket.io/socket.io.js')
			script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js')
			script(src="/javascripts/bootstrap.js")
			script(src="/mobwrite/mobwrite-client.js")
			script(src="/javascripts/paper.js")
			script
				$(document).ready(function(){
					$('.column-content').hide();
					$('.icon-chevron-down').hide();
					$('.column-menu').click(function(){
						toggleHeader(this);
						});
					function toggleHeader(el){
						var id = el.id;
						$('#'+id).next().next().toggle();
						$('#'+id+ " .icon-chevron-down").toggle();
						$('#'+id+ " .icon-chevron-up").toggle();
					}
				});
		block page-scripts
		block stylesheets
			link(rel='stylesheet', href='/stylesheets/style.css')
			link(rel='stylesheet', href='/stylesheets/bootstrap.css')
			link(rel='stylesheet', href='/stylesheets/bootstrap-responsive.css')
	body 
		block header
			.navbar
				.navbar-inner
					a(href="/",title="Haardvark").pull-left.brand
						h1 Haardvark
					ul(style="font-size: 2em;").breadcrumb
						li
							a(href="#") Hi
							span.divider
								>
						li 
							a(href="#") Team
							span.divider
								>
						li 
							a(href="#").dance Go!
						li.pull-right Username

				
		.container-fluid
			.row-fluid
				.span2
					block column
						div
							#conversation
								input(type="text",placeholder="Start chatting!")#data
								//input(type="button",value="send")#datasend
							div 
								.column-menu.no-select#due-dates Due dates
									span.chevron
										i.icon-chevron-up
										i.icon-chevron-down
								a(href="#",style="margin-top: -22px").btn.btn-small.pull-right
									i.icon-plus
								
								.column-content
									| THIS IS THE CONTENT OF THE DUE DATES!
							hr
							div
								.column-menu.no-select#members Members
									span.chevron
										i.icon-chevron-up
										i.icon-chevron-down
								a(href="#",style="margin-top: -22px").btn.btn-small.pull-right
									i.icon-plus
									
								.column-content
									ul
										li member 1
										li member 2
										li member 3
				.span10
					block canvas
						input(type="checkbox")#erasemode
						.canvas.border
							form
								textarea(rows="20",cols="60")#colab
							script
								mobwrite.share("colab");
							canvas(resize="true",style="border:1px solid black")#myCanvas.canvas

					block content
		block footer