html(lang='en')
	head
		title Haardvark - 
			block titlepart

		meta(name="viewport",content="width=device-width, initial-scale=1.0")
		block scripts 
			script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js')
			//script(src='/javascripts/go.js')
			script(src='/socket.io/socket.io.js')
			script(src="/javascripts/bootstrap.js")
			script(src="/mobwrite/mobwrite-client.js")
			script(src="/javascripts/paper.js")
			script
				$(document).ready(function(){
					$('[rel\=tooltip]').tooltip({animation:false,placement: "bottom"});
					//$('.column-content').hide();
					$('.icon-chevron-up').hide();
					$('#minimize-chat').show();
					$('.column-menu').click(function(){
						toggleHeader(this);
					});
					$('.btn').not('.view-link').click(function(e){
						e.preventDefault();
					});

					function toggleHeader(el){
						var id = el.id;
						$('#'+id).next().toggle();
						$('#'+id+ " .chevron .icon-chevron-down").toggle();
						$('#'+id+ " .chevron .icon-chevron-up").toggle();
					}

					//*******
					//Sockets
					//*******
					var socket = io.connect('/')

					socket.on('updatechat', function(data){
						$('#chatlog').append(data.message);
						$('#chatlog').scrollTop($('#chatlog').prop("scrollHeight"));
						console.log(data.message);
					});

					$('#msg').change( function() {
						var message = $('#msg').val();
						$('#msg').val('');
						socket.emit('sendchat', {"message":message});
					});
				});
		block page-scripts
		block stylesheets
			link(rel='stylesheet', href='/stylesheets/style.css')
			link(rel='stylesheet', href='/stylesheets/fonts.css')
			link(rel='stylesheet', href='/stylesheets/bootstrap.css')
			link(rel='stylesheet', href='/stylesheets/bootstrap-responsive.css')
	body 
		block header
			.navbar
				.navbar-inner
					img(src="/images/logo.png").logo
					.pull-left.brand.handwriting
						h1 
							block location
					ul(style="font-size: 2em;").breadcrumb
						a(href="/groups",rel="tooltip",title="Groups")
							img(src="/images/breadcrumbs/home.png").breadcrumbicon
						block breadcrumbs
						li.pull-right
							block username
							a(href="/settings",rel="tooltip",title="Settings",style="margin-left: 10px")
								img(src="/images/wrench.png",style="width: 20px;")
							a(href="/logout",rel="tooltip",title="Logout",style=" margin-left: 10px")
								img(src="/images/circle-x.png",style="width: 20px;")
				
		.container-fluid
			.row-fluid
				.span2
					block column
						div
							block extra-info
							block members
								div
									.column-menu.no-select#members Members
										span.chevron
											i.icon-chevron-up
											i.icon-chevron-down

									.column-content
										each member in members
											div(style="background: #{member.color}").color-div
											| #{member.username}
											br
										br
										a(href="#add-member",style="font-size: .8em").btn.btn-small#add-member-link
											| Add member 
											i.icon-plus 
							hr
							block duedates
								div 
									.column-menu.no-select#due-dates Due dates
										span.chevron
											i.icon-chevron-up
											i.icon-chevron-down
									
									.column-content
										| THIS IS THE CONTENT OF THE DUE DATES!
							
				.span10(style="padding-left: 50px")
					block canvas
					block content
		block chatbox
			#chatbox(style="position: fixed; right: 10%; bottom: 0; height: 15em; word-wrap: break-word;").border.rounded
				#currently-on(style="background: #BBB; word-wrap: break-word; width: 100%") Currently on: 
					span#on-list
					span.pull-right
						#close
							i.icon-remove
				#chatlog(style="margin-top: 0em; height: 10em; overflow-y: scroll; width: 250px; padding: 15px; font-size: .8em")
					block chatlog
				input(type="text",placeholder="Start chatting!",style="margin-left: 10px; width: 250px")#msg
		block footer