@font-face {
  font-family: Pecita;
  src: url("fonts/pecita-webfont.eot");
  src: url("fonts/pecita-webfont.eot?#iefix") format('embedded-opentype'), url("fonts/pecita-webfont.woff") format('woff'), url("fonts/pecita-webfont.ttf") format('truetype'), url("fonts/pecita-webfont.svg#Pecita") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Knewave;
  src: url("fonts/knewave-webfont.eot");
  src: url("fonts/knewave-webfont.eot?#iefix") format('embedded-opentype'), url("fonts/knewave-webfont.woff") format('woff'), url("fonts/knewave-webfont.ttf") format('truetype'), url("fonts/knewave-webfont.svg#Pecita") format('svg');
  font-weight: normal;
  font-style: normal;
}
.handwriting {
  font-family: Knewave;
}
