/*
General css
*/

.logo
	width 45px
	margin-top 10px
	float left
.rounded
	-webkit-border-radius 6px
	-moz-border-radius 6px
	border-radius 6px

.breadcrumbicon
	width 35px
	height 35px
	margin-top -12px
	border 2px dashed #CCC
	padding 3px
	border-radius 4px
	moz-border-radius 4px
	webkit-border-radius 4px

.breadcrumbicon:hover
	border 2px dashed black

.center-form 
	padding-top 15px
	position fixed
	left 50%
	width 400px
	margin-left -200px
	top 200px
	border 1px solid #999

.border
	border 1px solid #999

/*
Columns for document view etc.
*/

.column-menu
	cursor pointer
	font-size 1.6em

.column-content
	margin-top 10px

.column-add
	margin-left 8px
	

.chevron
	padding-left 7px
	position relative
	top 7px

.no-select
	-webkit-touch-callout none
	-webkit-user-select none
	-khtml-user-select none
	-moz-user-select none
	-ms-user-select none
	user-select none

.color-div
	height 10px
	width 10px
	border 1px solid black
	margin-top 3px
	margin-right 5px
	float left

/*
Groups
*/
.member-list
	font-size .8em
	color grey

/*
Editor
*/

.sidebar
	width: 35px

.menu-button
	width: 15px

.canvas {
    line-height 0 /* prevent weird 5px padding under canvas elements (from Paperjs.org) */
}

.canvas.border canvas {
    border 1px solid #999;
}


/*
Chat client
*/

#chatlog
	font-size .9em
	margin-top 0em
	height: 10em
	overflow-y scroll
	width 250px
	padding 15px

#chatlog tr
	font-size .7em
	
.chat-timestamp
	color #999
	font-size .1em
